body{
    width: 70%;
    margin: auto;
    background-color: antiquewhite;
} 
main{
    background-color:yellow (245,193,175)
    margin auto;

}
    
    
h1{  
}
p{
    background-color: cyan;
    color: white;
}
.deborahstyles{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: chartreuse;
    color: yellow;
}
nav{
    text-decoration: solid;

}
ul{
    text-decoration: none;

}
li{
    display: block;
    
}
/*ul{
    text-decoration: none;
}
li{
    display: block;    
}
a{
    text-decoration: none;
}*/

.sectionstyle{
  
    background-color: chartreuse;
}

#h1styles{
    color: cadetblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*Nav menu styling*/

ul{
   
}

ul>li{
    list-style: none;
    display: inline;
}
ul>li>a{
    text-decoration: none;
    color: white;
    background-color: green;
    margin-left: 4px;
    padding: 5px;
}
ul>li>a:hover{
    color:green;
    background-color: white;
}
.selected{
    color:green;
    background-color: rgb(221, 252, 81);
}
